.App {
  width: 100%;
  text-align: center;
  
 
}

.divRow{
  margin: auto;
  
  max-width: 400px;
  display:flex;
  flex-direction:row ;
  justify-content: center;
  height: 60px;

}



button{
  background-color: white;
  font-size:20px;
  flex:1;
  
  height: auto;
}
#aa{
  flex: 2.2;
  background-color: red;
}
#ab{
  background-color: red;
}

#ac{
  background-color: blue
}

#bd{
  background-color:blue
}

#cd{
  background-color: blue
}

#dd{
  background-color: blue
}

#ec{
  flex:2.2;
  background-color: green;
}


